/*------------------custome styles------------------*/
figcaption p a{color:#ffffff;}
figcaption p a:hover{color:#ffffff;}
.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button{margin-bottom:0px !important;}
.margin-bottom{margin-bottom:80px;}
.margin-bottom-remove{margin-bottom:0px;}
.no-padding-top{padding-top:0px !important;}
.no-margin-top{margin-top:0px !important;}
.breadcrumb > li + li:before{/*content:"";*/}


/*-----------------------wishlist-----------------------*/
.ajax-loading {
    background-color: hsla(0, 0%, 0%, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
body > .ajax-loading {
    position: fixed;
}
.ajax-loading::before {
    background: hsla(0, 0%, 0%, 0) url("../images/ajax-loader.gif") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 32px;
    left: 50%;
    margin: -5.5px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 32px;
}
#pop {
    border: 5px solid hsla(0, 0%, 0%, 0);
    border-radius: 2px;
    box-shadow: 0 0 2px 3px hsla(0, 0%, 0%, 0.15);
    left: 50%;
    margin-left: -250px;
    margin-top: -100px;
    position: fixed;
    top: 50%;
    width: 500px;
}
.pop {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 2px;
    padding: 15px 20px;
}
/*----------------------------------------------*/
